.Carrito {
    height: auto;
    text-align: center;
    background-color: rgb(10, 31, 21);
    padding: 25px;
    padding-bottom: 20vw;
    color: white;
}

.Carrito>button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    margin-bottom: 15px;
    display: block;
    margin: 30px auto;
}

.Carrito__borrar {
    box-shadow: 5px 10px 15px -5px #6b0a0a;
    background: linear-gradient(to bottom, #9b372e 5%, #a62519 100%);
    border-radius: 7px;
    width: 10%;
    font-size: 0.9vw;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    padding: 7px 11px;
    margin-left: 15px;
}

.Carrito__pedir {
    box-shadow: 5px 10px 15px -5px #3c6b27;
    background: linear-gradient(to bottom, #67964f 5%, #5fb036 100%);
    border-radius: 7px;
    font-size: 0.9vw;
    width: 10%;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    padding: 7px 11px;
    text-shadow: 0px 3px 6px #5b8a3c;
    margin-right: 15px;
    margin-bottom: 25px;
}
.Carrito .Tabla {
    margin: 15px auto;
    width: 65%;
}
.Carrito img{
    width: 50%;
}
.Carrito h3{
    text-align: center;
    width: 60vh;
    margin: 0 auto;
    height: 10vw; 
    padding-top: 2vw;
    font: 2.4vw bold black;
    margin-top: 10vh;
    border-radius: 20px;
}